.container-custom{
    width: 50%;
    margin: auto;
    background-color:  #51517336;
    text-align: center;
}
.search_button{
    width: 100%;
}
.badge{
    background-color: #515173;
    cursor: pointer;
}
.form-control{
    background-color: rgba(255, 255, 255, 0.37);
}
form{
    text-align: center;
}
button{
    width: 50%;
    background-color: #515173;
}