<div class="container-custom py-4 shadow mt-3">
  <div class="row d-flex search justify-content-center p-3 px-5">
    <div class="search-form d-flex justify-content-center flex-column">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchKey"
        placeholder="enter artwork name"
      />
      <button class="btn text-white  search_button mt-2" (click)="search()">
        {{ "catalogue.SEARCH" | translate }}
      </button>
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="searchHasError"
      >
        {{ "errors.ENTER_ARTWORK_NAME" | translate }}
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-2 flex-row mb-3">
    <div class="d-flex justify-content-center">
      <span
        (click)="fetchArtWork(name)"
        class="badge ms-1"
        *ngFor="let name of lastThreeSearches"
        >{{ name }}</span
      >
    </div>
  </div>
</div>

  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto"  *ngIf="selectedArtwork$ | async as selectedArtwork">
        <div class="card">
          <img [src]="selectedArtwork.primaryImage" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">{{ selectedArtwork.title }}</h5>
            <h6 class="card-title">{{ selectedArtwork.artistDisplayName  }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row m-3" *ngIf="selectedArtwork$ | async as selectedArtwork">
      <form [formGroup]="form" (submit)="submit(selectedArtwork)">
        <div class="row mb-3 d-flex justify-content-center text-center">
          <label for="review" class="col-sm-2 col-form-label">write additional information about the artwork or your personal opinion</label>
          <div class="col-sm-4">
            <textarea
              formControlName="review"
              class="form-control"
              id="review"
              rows="4"
            ></textarea>
          </div>
        </div>
        <button type="submit" class="btn text-white">Add</button>
        <ng-container *ngIf="submitted && form.invalid">
          <div
            class="alert alert-danger mt-2"
            role="alert"
            *ngIf="form.controls.review?.errors?.required"
          >
            რევიუ სავალდებულოა
          </div>
          <div
            class="alert alert-danger mt-2"
            role="alert"
            *ngIf="form.controls.review?.errors?.minlength"
          >
            განხილვა უნდა იყოს მინიმუმ 10 სიმბოლო
          </div>
        </ng-container>
      </form>
    </div>
  </div>