<header>
  <div class="navbar navbar-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="/assets/images/logo.png" class="me-2 logo" />
      </a>
      <div>
        <div class="d-flex align-items-center">
          <ng-container *ngIf="!isLoggedIn">
            <button (click)="goToSignIn()" class="btn btn-outline-light me-2">
              {{ "auth.SIGN_IN" | translate }}
            </button>
            <button (click)="goToSignUp()" class="btn btn-outline-light">
              {{ "auth.SIGN_UP" | translate }}
            </button>
          </ng-container>
          <button (click)="signOut()" *ngIf="isLoggedIn" class="btn sign_out">
            {{ "auth.SIGN_OUT" | translate }}
          </button>
          <button
            class="lang btn en ms-2"
            (click)="en()"
          >EN</button>
          <button
            class="lang btn ka ms-2"
            (click)="ka()"
          >GE</button>
        </div>
      </div>
    </div>
  </div>
</header>