.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.445)
}
.collection_item {
    cursor: pointer;
    overflow: hidden;
    height: 400px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}